@model IEnumerable<ContactManagerEF.Models.Contact>

@{
    ViewData["Title"] = "Contact Manager EF";
}

@*<h4>Contacts</h4>*@

<div>
    <table style="margin-right: 10%; margin-top: 10px; border: none;" width="75%">
        <tr>
            <td align="left"><h4 class="text-left"><i class="fas fa-address-card text-success"></i> Contacts</h4></td>
            <td style="border: none; text-wrap:none" align="right">
                <form asp-action="Index" method="post">
                    <label id="lblSearchContact" class="text-success" style="font-weight:bold">Search: </label>
                    <input type="text" class="SearchString" name="SearchString" value="" />
                    @*<input type="text" class="SearchString" name="SearchString" value="@ViewData["CurrentFilter"]" oninput="return ContactSearch(this);" onkeyup="return ContactSearch(this);" />*@
                    <input type="submit" id="sButton" name="srchButton" value="Reset" title="Reset Filter">
                </form>
            </td>
        </tr>
    </table>
</div>

<div id="view-all">
    @await Html.PartialAsync("_ViewAllContacts", Model)
</div>

<div class="modal fade" tabindex="-1" aria-labelledby="staticBackdropLabel" role="dialog" id="form-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div class="loaderbody" id="loaderbody">
        <div class="loader"></div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}